###################
# General
###################
*.pyc
*.log
.gitconfig

###################
# Database stuff
###################
*.db
DbAPI/databases
*.pickle
project.config

###################
# IDE/Editor files
###################
.idea
*.swp
tags
.project
.pydevproject
